<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156034231531-mvh8008gqbrm2i5jocco743klfgjtoqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156034231531-mvh8008gqbrm2i5jocco743klfgjtoqq</string>
	<key>API_KEY</key>
	<string>AIzaSyBmPbKW2wHX4GPqPs3jp2qdvWAxPUoNH9c</string>
	<key>GCM_SENDER_ID</key>
	<string>156034231531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ahmdyasser.-00-days-of-swiftui</string>
	<key>PROJECT_ID</key>
	<string>remote-config-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>remote-config-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156034231531:ios:bba6e40c3479805cff22ae</string>
</dict>
</plist>